$primary-color: #FFFFF8;
$secondary-color: #2F2725;
$accent-color: #eaead5;

body {
	font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  background-color: $primary-color;
  color: white;
}

h2 {
	color: $secondary-color;
}

footer {
	background-color: $secondary-color;
}

header {
	background-color: $primary-color;
}

.hero {
	background-image: url('@img/pasta.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	// overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 1;
	}

	&__content {
		// position: relative;
		z-index: 2;
		text-align: center;
	}

	&__title {
		font-size: 3rem;
		margin-bottom: 10px;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	}

	&__subtitle {
		font-size: 1.5rem;
		margin-bottom: 0;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	}
}
