@use '@/scss/base/variables' as v;

.button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
	&--base {
		background-color: v.$accent-color-secondary;
		color: v.$primary-color;
		&:hover {
			background-color: v.$dark-color;
		}
	}
	&--danger {
		background-color: v.$accent-color;
		color: v.$primary-color;
		&:hover {
			background-color: v.$dark-color;
		}
	}

	&--sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
  }

  &--lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
}

